= javascript_include_tag script_preview_path({bar_id: @bar.id})

= simple_form_for [@ad_platform, @bar], :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :message
    = f.input :link_text
    = f.input :link_url
    = f.simple_fields_for :setting do |ff|
      = ff.input :bar_color, as: :minicolors, input_html: { data: { minicolors: { theme: :bootstrap, position: :left }}}
      = ff.input :link_color, as: :minicolors, input_html: { data: { minicolors: { theme: :bootstrap, position: :left }}}
      = ff.input :text_color, as: :minicolors, input_html: { data: { minicolors: { theme: :bootstrap, position: :left }}}
      = ff.input :max_impressions_count

  .form-actions
    = f.button :submit