= simple_form_for [@ad_platform, @bar], :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :message
    = f.input :link_text
    = f.input :link_url
    = f.simple_fields_for :setting do |ff|
      = ff.input :bar_color
      = ff.input :link_color
      = ff.input :max_impressions_count
      = ff.input :text_color

  .form-actions
    = f.button :submit

