%section
  .hgroup
    %h1= @ad_platform.name
    %h2 Listing advertisement bars
    = link_to 'Create Advertisement Bar', new_ad_platform_bar_path(@ad_platform), :class => 'btn pull-right'
    .clearfix

  .row
    #leftcol.span8
      - if @bars.present? 
        .well
          %h4= "To add bars from ad platform '#{@ad_platform.name}' to your site add this code to any page of your site"
          = text_field_tag 'script', "<script src='//#{request.host_with_port}/script/#{@ad_platform.token}.js'></script>", :class => 'span7', :disabled => true
        %table.table.table-hover
          %tr
            %th Name
            %th Message
            %th Link text
            %th Visits count
            %th Clicks count
            %th

          - @bars.each do |bar|
            %tr
              %td= bar.name
              %td= bar.message
              %td= bar.link_text
              %td= bar.visits_count
              %td= bar.clicks_count              
              %td
                = link_to 'Edit', edit_ad_platform_bar_path(@ad_platform, bar), :class => 'btn'
                = link_to '×', ad_platform_bar_path(@ad_platform, bar), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'


      - else             
        %h4 You don't have any advertisement bars yet
        = link_to 'Create a new one', new_ad_platform_bar_path(@ad_platform), :class => 'btn'

    = render 'shared/sidebar'


